<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/students}">Student <span class="sr-only">(current)</span></a>
    </li>

  </ul>
</div>

<div class="container">
  <div class="row">
    <h1>List Teachers</h1>
  </div>

  <div>
    <div class="col-lg-3">
      <a th:href="@{/teacher/create}" class="btn btn-pimary btn-sm mb-3">New student</a>
    </div>
  </div>

  <table class="table table-striped table-border">
    <thead class="table-dark">
    <tr>
      <th> Teacher First Name</th>
      <th> Teacher Last Name</th>
      <th> Teacher Email</th>
      <th> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
      <td th:text="${teacher.getName()}">
      <td th:text="${teacher.getLastName()}">
      <td th:text="${teacher.getObject()}">
      <td>
        <a th:href="@{/teacher/editTeacher/{id}(id = ${teacher.getId()})}" class="btn btn-primary">Edit</a>
        <a th:href="@{/teacher/{id}(id=${teacher.getId()})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>

  </table>
</div>
</body>
</html>